body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.effective-solutions .container {
  display: block;
  padding: 106px 0;
  text-align: center;
}

.footer .container {
  display: flex;
  align-items: flex-start;
}

.section, .effective-solutions, .attributes, .team, .customers, .portfolio {
  padding: 94px 0;
}

.section-only-bottom, .what-do-we-do {
  padding-bottom: 94px;
}

.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
  align-items: center;
  justify-content: center;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal-box {
  transform: scale(0.8);
}

.modal-box {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__header {
  margin-right: 93px;
}

.logo__footer {
  width: 145px;
  height: 31px;
}

.logo__text {
  color: #2196f3;
}

.logo__text--light-theme {
  color: black;
}

.logo__text--dark-theme {
  color: white;
}

.section-title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__icon {
  margin-right: 10px;
}

.header__link-mail {
  margin-left: 345px;
  margin-right: 30px;
}

.header__link-mail, .header__link-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  fill: #757575;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-mail:hover, .header__link-mail:focus, .header__link-tel:hover, .header__link-tel:focus {
  color: #2196f3;
  fill: #2196f3;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  column-gap: 46px;
}

.nav__list a {
  color: #212121;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list a:hover,
.nav__list a:focus {
  color: #2196f3;
}

.nav__item .nav__link--active {
  color: #2196f3;
}

.nav__link--active {
  position: relative;
}

.nav__link--active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  top: 45px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: white;
}

.join-us {
  width: 206px;
  height: 80px;
  margin-top: 15px;
  margin-left: 70px;
}

.join-us__title,
.sign-up__title {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 20px;
}

.join-us__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.join-us__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__link:hover, .join-us__link:focus {
  fill: white;
  background-color: #2196f3;
}

.join-us__icon {
  width: 20px;
  height: 20px;
}

.sign-up {
  margin-top: 15px;
  margin-left: 78px;
}

.newsletter {
  display: flex;
}

.newsletter__email {
  width: 358px;
  height: 50px;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  box-sizing: border-box;
  padding-left: 16px;
}

.newsletter__email:focus {
  outline: none;
}

.newsletter__button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: white;
}

.effective-solutions {
  background-image: linear-gradient(rgba(47, 50, 58, 0.4), rgba(47, 50, 58, 0.4)), url("../images/mainPageBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(47, 50, 58, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.effective-solutions__title {
  color: white;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.effective-solutions__button {
  color: white;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 30px auto 0px;
  background-color: #2196f3;
  padding: 10px 42px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effective-solutions__button:hover, .effective-solutions__button:focus {
  cursor: pointer;
}

.attributes__list {
  display: flex;
  column-gap: 30px;
}

.attributes__item {
  width: 270px;
  height: 251px;
}

.attributes__icon-background {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.attributes__icon {
  width: 70px;
  height: 70px;
}

.attributes__title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.attributes__content {
  color: #757575;
  line-height: 1.714;
}

.attributes__title, .attributes__content {
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.what-do-we-do__list {
  display: flex;
  column-gap: 30px;
}

.what-do-we-do__item {
  position: relative;
}

.what-do-we-do__item > .what-do-we-do__label {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  bottom: 0;
}

.what-do-we-do__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  column-gap: 30px;
}

.team__item {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__description {
  padding: 30px 0px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__position {
  margin-bottom: 16px;
  color: #757575;
}

.team__title, .team__position {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.team-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:focus {
  fill: white;
  background-color: #2196f3;
}

.team-social__icon {
  width: 20px;
  height: 20px;
}

.customers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item:hover, .customers__item:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.customers__icon {
  width: 106px;
  height: 60.04px;
}

.portfolio__buttons {
  width: 572px;
  margin: 0 auto;
}

.portfolio__buttons-list {
  display: flex;
  margin-bottom: 34px;
  column-gap: 8px;
}

.portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: black;
  background-color: #f5f4fa;
  font-style: normal;
  text-align: center;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  background-color: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:hover .portfolio__img-overlay {
  transform: translateY(0);
}

.portfolio__img-container {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  width: 370px;
  height: 294px;
}

.portfolio__img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__img-overlay > p {
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: white;
}

.portfolio__description-box {
  display: block;
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.portfolio__title {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.btn__close {
  width: 30px;
  height: 30px;
  top: 8px;
  left: none;
  right: 8px;
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.form__title {
  width: 448px;
  height: 23px;
  top: 40px;
  left: 40px;
  right: 40px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  position: relative;
  text-align: center;
  color: #212121;
}

.form__main {
  width: 448px;
  height: 342px;
  top: 52px;
  left: 40px;
  right: 40px;
  position: relative;
}

.form__label {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 448px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus-within {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
}

.form__icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__data {
  width: 100%;
  height: 100%;
  font-family: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  border: none;
  outline: none;
}

.form__comment {
  width: 448px;
  height: 120px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:hover, .form__comment:focus {
  outline: none;
  border-color: #2196f3;
}

.form__policy {
  width: 419px;
  height: 24px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.form__checkbox {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 2px solid #212121;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 6px;
}

.form__checkbox:checked {
  background-image: url("../images/svg/icon-check.svg");
  background-color: #2196f3;
  border-color: #2196f3;
}

.form__link {
  color: #2196f3;
}

.form__button {
  width: 200px;
  height: 50px;
  position: relative;
  top: 50px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */