@import '../utils/mixins';

.customers {
  &__list {
    @include display-align(flex, center, center);
    column-gap: 30px;
  }

  &__item {
    @include display-align(flex, center, center);
    @include width-height(170px, 92px);
    @include border-fill(1px solid $social-icon-color, $social-icon-color);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      @include border-fill(1px solid $third-color, $third-color);
      cursor: pointer;
    }
  }

  &__icon {
    @include width-height(106px, 60.04px);
  }
}
