.our-attributes-list {
  display: flex;
}

.our-attributes-list-element {
  width: 270px;
  height: 251px;
}

.our-attributes-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-white-bg-color);
}

.our-attributes-list-element:not(:last-child) {
  margin-right: 30px;
}

.lorem-ipsum-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.lorem-ipsum-content {
  color: var(--grey-color);
  line-height: 1.714;
}

.lorem-ipsum-title,
.lorem-ipsum-content {
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.03em;
}
