.our-customers-title {
  margin-bottom: 50px;
}

.our-customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-customers-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--grey-social-icon);
  border-radius: 4px;
  fill: var(--grey-social-icon);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers-list-item:hover,
.our-customers-list-item:focus {
  border: 1px solid var(--blue-color);
  fill: var(--blue-color);
  cursor: pointer;
}

.our-customers-list-item:not(:last-child) {
  margin-right: 30px;
}
