.what-do-we-do {

  &__list {
    display: flex;
    column-gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__item > &__label {
    position: absolute;
    background-color: $what-do-we-do-img-background;
    color: $secondary-color;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    bottom: 0;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
