.footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: $footer-link-color;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.join-us {
  margin-top: 15px;
  margin-left: 70px;
  width: 206px;
  height: 80px;
}

.join-us__title,
.sign-up__title {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin-bottom: 20px;
}

.join-us__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.join-us__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: $secondary-color;
  background-color: $footer-icon-background;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $secondary-color;
    background-color: $third-color;
  }
}

.join-us__icon {
  width: 20px;
  height: 20px;
}

.sign-up {
  margin-top: 15px;
  margin-left: 78px;
}

.newsletter {
  display: flex;
}

.newsletter__email {
  width: 358px;
  height: 50px;
  border: 1px solid $newsletter-email-color;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $footer-background-color;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: $footer-link-color;

  &:focus {
    outline: none;
  }
}

.newsletter__button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: $third-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: $secondary-color;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: $secondary-color;
}
