.logo {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__header {
    margin-right: 93px;
  }

  &__footer {
    width: 145px;
    height: 31px;
  }

  &__text {
    color: $third-color;

    &--light-theme {
      color: $btn-dark-font-color;
    }

    &--dark-theme {
      color: $secondary-color;
    }
  }
}
