.input-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 6px;
}

.input-checkbox:checked {
  background-image: url('../images/svg/icon-check.svg');
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.checkbox-link {
  color: var(--blue-color);
}