.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;

  .header & {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .effective-solutions & {
    display: block;
    padding: 106px 0;
    text-align: center;
  }

  .footer & {
    display: flex;
    align-items: flex-start;
  }
}
